:root {
    --vermelho: #E50914;
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********* B A S E *********/

body {
    background: var(--preta);
    font-family: 'arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Satans minions', times;
    font-size: 35px;
    margin: 10px 5px 10px 5px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/********* M A I N   C O N T E N T *********/

.main-banner {
    font-size: 16px;
    background-image: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url(../img/strixhaven-banner.jpg);
    background-size: cover;

    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-banner .descricao {
    margin-bottom: 40px;
    margin-top: 10px;
}

.titulo {
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin-top: 10%;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 30px;
}

.main-banner .container {
    width: 50%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-archetype {
    margin-top: 20px;
}

.carousel-archetype .carousel-title { 
    margin-left: 15px;
    margin-bottom: 10px

}